<div id="mainblurb">
  <div id="peopleblurb">
  <h2>About Us</h2>
  <p>MadPark Investments was founded in 2012.  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </p><br>&nbsp;<br>
  <p><b>We Believe:</b>
  <ul>
  	<li>Certain markets are inherently less efficient
  	<ul>
	<li>&#187; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
	</li>
	<li>&#187; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
	</li>
  </ul>
  </ul>
  <ul>
	<li>When investing with investment managers, constraints eat up returns
	<ul>
   	<li>&#187;Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
   	<li>&#187;Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
   	<li>&#187;Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
   	<li>&#187;Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
	</ul>
	</li>
	</div>
</div>
