<div id="mainblurb">
<div id="inner_content">
&nbsp;
<%= render "shared/googlemapdisney" %>

</div>

<div id="peopleblurb">
<h2>Contact Us</h2>
<h3>MadPark Investments, LLC</h3>
<p>1313 Disneyland Drive<br>
Anaheim, CA 92802<br>

info@madpark.com<br>
206.777.7777</p>
	</div>
</div>

