<div id="mainblurb"> 
  <div id="inner_content"> &nbsp; 
  <%= image_tag("orcas_mt_baker_2010.gif") %>
  <br>&nbsp; 	
  </div> 	
  <div id="homepageblurb">
  <p><h3><b>in vino veritas : </b> /'in-we-no-'wa-ri-tas/ <br> there is truth in wine</p></h3>
  <br>&nbsp;</br>
  <p>MadPark Investments serves institutional investors by identifying <strong>unique investment opportunities in inefficient markets</strong> to generate superior returns. Initially, we seek to be the world's premier experts in Microcap investing.</p>  	
  </div>   
  </div>
</div>

