<div id="mainblurb">
<div id="peopleblurb">
<h2>Our People</h2>
<p><h3>Mickey Mouse, CFA</h3>
<%= image_tag("mickey_mouse.jpg", :size => "140x100") %>
<blockquote>

Mickey Mouse is a Founder and Managing Partner of MadPark Investments and serves as the Lead Portfolio Manager of the Small and Microcap portfolios.
<br><Br>Prior to founding MadPark, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</blockquote>

<p>
<%= image_tag("donald_duck.jpg", :size => "140x100") %>
<h3>Donald Duck, CFA</h3>
<blockquote>Donald Duck is a Founder and Partner of MadPark Investments and serves as the firm's Director of Research.  <br><br>
Prior to founding MadPark, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</blockquote>
</p>

<p>
<%= image_tag("goofy.jpg", :size => "140x100") %>
<h3>Goofy, CFA</h3>
<blockquote>Goofy is a Founder and Partner of MadPark Investments and serves as the firm's Director of Research.  <br><br>
Prior to founding MadPark, Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
</blockquote>
</p>

	</div>
</div>
