<footer>
  <nav class="round">
    <div id="homemain">
	<div id="bottomcontainer">
	<div id="footerlinks">&copy; 2012 MadPark Investments, LLC</div>
info@madpark.com | 1313 Disneyland Drive | Anaheim, CA 92802 | 206.777.7777
	<br>&nbsp;<br>
	<span style="font-size: small;">MadPark Investments, LLC is a registered investment adviser in the State of Washington. 
	The adviser may not transact business in states where it is not appropriately registered, or excluded or exempted from registration. 
	</span>
	</div>
	</div>
	</div>
  </nav>
</footer>
